html {
    align-content: center;
    text-align: center;
}
h1 {
    color: rgb(221, 105, 59);
    text-shadow: 3px 3px 4px rgb(158, 96, 49);
    font-size: 75px;
}
h2 {
    border-width: 8px;
    border:color-mix(in hsl #b6442ec3, 43%, 60%);
    border-style: ridge;
    border-radius: 25px;
    padding: 10px;
    text-shadow: 2px 2px 5px #af8266c3;
}
body {
    align-items: center;
}